.sidebar-tab {
  &__tabs {
    display: grid;
    grid-template-columns: 64px auto;
    .is-selected {
      background-color: #0783cc;
    }
    .tab-chat-render{
      display: grid;
      grid-template-columns: 320px auto;
    }
    &__tablist {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e3e5e8;
      height: 100vh;
      margin-bottom: 0px;
      .tablist__content {
        background: linear-gradient(#0cb3ff, #0068ff);
        height: 100%;
        width: 100%;
        position: relative;
        .ant-menu {
          height: 95px;
          width: 64px;
          margin-top: 7px;
          font-size: 14px;
          background-color: transparent;
          .ant-menu-submenu-title {
            width: 90px;
            height: 90px;
            position: absolute;
            left: -16px;
            .ant-menu-submenu-arrow {
              display: none;
            }
            &:active {
              background-color: transparent;
              color: transparent;
            }
          }
        }
        i {
          font-size: 25px;
          color: white;
          padding: 5px;
        }
        .avatar {
          display: block;
          position: relative;
          margin-bottom: 30px;
          margin-top: 10px;
          margin-left: 3px;
          .img_avatar {
            border: 0.5px solid white;
            height: 56px;
            width: 56px;
            display: block;
            border-radius: 50% !important;
            background-color: transparent;
          }
          .icon-online {
            position: absolute;
            top: 85%;
            left: 40px;
            width: 10px;
            height: 10px;
            background: rgb(98, 203, 0);
            border-radius: 50%;
            display: inline-block;
            box-shadow: white 0px 0px 0px 1px;
          }
          .ant-menu-submenu-arrow {
            display: none;
          }
        }
        .sign-out {
          position: absolute;
          bottom: 10px;
          left: 0;
          button {
            border: none;
            background: transparent;
            font-size: 20px;
            color: white;
          }
        }
      }
      .react-tabs__tab {
        width: 100%;
        padding: 5px;
      }

      .message_tab_chat {
        padding: 10px;
        .tab_room {
          display: flex;
          align-items: center;
          position: relative;
          .avatar-group-vip-pro {
            display: grid;
            grid-template-columns: auto auto;
            width: 74px;
            height: 64px;
          }
          svg {
            font-size: 20px;
            color: transparent;
            position: absolute;
            right: 0;
            bottom: 50%;
          }
          &:hover {
            svg {
              transition: all 0.5s;
              color: black;
            }
          }
        }
        .group__name {
          font-size: 15px;
          font-weight: 540;
          line-height: 1.5px;
        }
        .avatar-chat {
          border-radius: 50%;
          margin-right: 10%;
        }
      }
      .message_tab_chat:hover {
        cursor: pointer;
        .edit {
          display: inline-block;
        }
      }
      .react-tabs__tab--selected {
        border: none;
        .message_tab_chat {
          background: #e6f0ff;
          .group__name_group {
            font-weight: 550;
          }
          .group__name {
            font-weight: 550;
          }
        }
      }
      .fa-address-book {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 50px;
        color: cornflowerblue;
        margin-right: 10px;
      }
    }
    .sidebar_render_left{
        .ant-menu-item-selected{
          background-color: #0783cc;
        }
        .ant-menu-item-only-child{
          border: none;
        }
    }
  }
  .react-tabs {
    display: grid;
    grid-template-columns: 320px auto;
  }

  .tab {
    cursor: pointer;
    padding: 11px 16px 9px 14px;
    width: 100%;
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
    }
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    &:hover {
      background-color: #f2f5fa;
    }
  }
}
// overlay user profile
.ant-menu-submenu {
  .ant-menu {
    position: absolute;
    top: 50px;
    left: -22px;
    padding: 20px;
    .ant-menu-item-group {
      padding: 10px 20px;
      .ant-menu-item-group-list {
        width: 150px;
        span {
          margin-right: 8px;
          color: #99a4b0;
        }
      }
    }
  }
}
.modalUpdateUser {
  .ant-modal-content {
    width: 400px;
    margin: 0 auto;
    .ant-upload.ant-upload-select-picture-card {
      border: none;
      background-color: white;
    }
    .avatar {
      left: 120%;
      display: block;
      position: relative;
      .img_avatar {
        margin-left: 5px;
        height: 84px;
        width: 84px;
        display: block;
        border-radius: 50% !important;
        border: 0.5px solid #0cb3ff;
      }
    }
  }
}

.scrollCustom {
  overflow-y: hidden !important;
  transition: opacity 1s;
  .friend-list-contact{
    .ant-collapse-content-box{
      padding:0;
    }
  }
  &:hover {
    overflow-y: scroll !important;
  }
  li {
    border: none;
    &:focus {
      box-shadow: none;
      outline: none;
      border: none;
    }
    &::after {
      display: none;
    }
  }
}

.scrollCustom::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.scrollCustom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.styleIcon {
  margin-right: 8px;
  color: #99a4b0;
}
.menuUser {
  height: 100px;
  width: 64px;
  margin-top: 7px;
  font-size: 14px;
  background-color: transparent;
}
.styleMenuItem {
  padding: 10px 20px;
}
.ant-modal-mask{
   background-color: rgba(0, 0, 0, 0.1);
}
.ant-list-split .ant-list-item {
  border:none;
}