.otpSend{
    .ant-form-item-label > label {
        font-size: 12px;
        color:#666;
        font-weight: bold;
    }
    .ant-radio-wrapper {
        margin-left: 15px;
    }
    .ant-radio-wrapper > span {
        font-size: 12px;
        color:#666;
    }
    .ant-form-item-control-input-content p{
        font-size: 12px;
    }
}