.message-room {
  &__content {
    width: 100%;
    margin: 0 auto;
    height: 72vh;
    margin-top: 10px;
    background-color: #e2e3e0;
    &__inside {
      p {
        font-size: 16px;
        font-weight: 600;
      }
      .friendReq {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 30px 15px;
        background-color: white;
        margin-top: 15px;
        .userInfo {
          .ant-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            svg {
              font-size: 40px;
            }
          }
        }
        .btn {
          margin-right: 5px;
        }
      }
    }
  }
  &__icon_chat_tab {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f9f9fd;
    background-color: #f9f9fd;
    height: 5.5vh;
    .content__inside {
      padding: 5px;
      margin-left: 15px;

      button {
        border: none;
        background-color: transparent;
        margin-left: 30px;
        top: 0px;
        i {
          font-size: 20.5px;
          color: #767676;
        }
      }
      .upload-image-message {
        .ant-upload-list {
          display: flex;
          div {
            margin-left: 20px;
            .ant-upload-list-item-list-type-picture {
              border: none;
              .ant-upload-list-item-info {
                span {
                  a {
                    width: 80px;
                    height: 80px;
                    img {
                      width: 100px;
                      height: 100%;
                    }
                  }
                  .ant-upload-list-item-name {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__chat_tab {
    height: 8.5vh;
    input {
      border: none;
      width: 100%;
      height: 100%;
      &:focus {
        box-shadow: none;
        border: none;
      }
    }
    .icon {
      display: inline-block;
      padding-left: 6%;
      width: 12%;
      .emoji-picker{
          font-size: 20px;
          color: #0068ff;
          padding-right: 10px;

      }
      button {
        border: none;
        font-size: 20.5px;
        color: #0068ff;
      }
    }
  }
  .ant-form-item {
    margin-bottom: 0;
  }
}
// .scroll-chat {
//   background-color: white;
//   overflow-y: hidden !important;
//   height: 100%;
//   transition: opacity 1s;
//   &:hover {
//     overflow-y: scroll !important;
//   }
// }

// .scroll-chat::-webkit-scrollbar {
//   width: 7px;
//   background-color: #f5f5f5;
// }

// .scroll-chat::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #f5f5f5;
// }
.modalUploadImageMessage {
  .ant-modal-content {
    width: 400px;
    margin: 0 auto;
    .ant-upload.ant-upload-select-picture-card {
      border: none;
      background-color: white;
      .ant-upload {
        border: 1px dotted black;
      }
    }
    .avatar {
      left: 120%;
      display: block;
      position: relative;
      .img_avatar {
        margin-left: 5px;
        height: 84px;
        width: 84px;
        display: block;
        border-radius: 50% !important;
        border: 0.5px solid #0cb3ff;
      }
    }
  }
}
//LapTop size L
@media only screen and (max-width: 1440px) {
  .message-room {
    &__content {
      height: 72vh;
    }
    &__chat_tab {
      height: 8.5vh;
      input {
        border: none;
        width: 100%;
        height: 100%;
        &:focus {
          box-shadow: none;
          border: none;
        }
      }
      .icon {
        display: inline-block;
        padding-left: 2%;
        width: 12%;
        button {
          border: none;
          font-size: 20.5px;
          color: #0068ff;
        }
      }
    }
  }
}
//Laptop
@media only screen and (max-width: 1024px) {
  .message-room {
    &__content {
      height: 76vh;
    }
    &__chat_tab {
      height: 7vh;
      input {
        border: none;
        width: 100%;
        height: 100%;
        &:focus {
          box-shadow: none;
          border: none;
        }
      }
      .icon {
        display: inline-block;
        width: 15%;
        button {
          border: none;
          font-size: 20.5px;
          color: #0068ff;
        }
      }
    }
    &__icon_chat_tab {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #f9f9fd;
      background-color: #f9f9fd;
      height: 4vh;
    }
  }
}
//Tablet
@media only screen and (max-width: 768px) {
  .message-room {
    &__content {
      height: 68vh;
    }
    &__chat_tab {
      height: 7vh;
      input {
        border: none;
        width: 100%;
        height: 100%;
        &:focus {
          box-shadow: none;
          border: none;
        }
      }
      .icon {
        display: inline-block;
        width: 15%;
        button {
          border: none;
          font-size: 16.5px;
          color: #0068ff;
        }
      }
    }
    &__icon_chat_tab {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #f9f9fd;
      background-color: #f9f9fd;
      height: 6vh;
    }
  }
}
