.message {
  width: 95%;
  margin: 0 auto;
  padding: 15px 0;
  .messageBox {
    background: #f3f3f3;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    max-width: 80%;
    .timeChatting {
      font-size: 10px;
      margin-top: 10px;
    }
    img {
      width: 300px;
    }
  }

  .messageText {
    width: 100%;
    letter-spacing: 0;
    // float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }

  .messageText img {
    vertical-align: middle;
  }

  .messageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
  }

  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    font-size: 12px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .justifyStart {
    justify-content: flex-start;
  }

  .justifyEnd {
    justify-content: flex-end;
  }

  .colorWhite {
    color: white;
  }

  .colorDark {
    color: #353535;
  }

  .backgroundBlue {
    background: #2979ff;
  }

  .backgroundLight {
    background: #f3f3f3;
    margin-top: 25px;
  
  }
  .avatar {
    font-size: 25px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  .messageName {
    font-size: 10px;
    color: #9e9e9e;
  }
}
